<div id="game-carousel" class="slider-container">
  <div class="title-container">
    <h2 class="title"><strong>Tell us the games you like | <span id="counter"><%= remaining %></span> remaining</strong></h2>
  </div>
  <span id="nextArrow"></span>
  <span id="prevArrow"></span>
  <div id="slider" class="slider">
    <% games.each do |game| %>
      <div>
        <div class="item-wrapper">
          <div id="<%= game.id %>" class="item-carousel">
            <%= cl_image_tag game.photo , class: "item-image"%>
            <div class="game-filter"></div>
            <div class="game-links">
              <%= link_to game_states_path( { game_id: game.id, state: "like" } ), method: :post, remote: true, class: "like-btn"  do %>
                <i class="fas fa-thumbs-up"></i>
              <% end %>
              <%= link_to game_states_path( { game_id: game.id, state: "dislike" } ), method: :post, remote: true, class: "dislike-btn"  do %>
                <i class="fas fa-thumbs-down"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
