<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="/assets/gamiflex.png" alt="">
    Gamiflex
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div id="search-items">
      <div class="cell">
        <div class="searchbar">
          <input type="text" class="btn-extended" placeholder="search" id="search" />
          <div class="btn-search clicked-btn">
            <i class="fas fa-search"></i>
          </div>
          <div id="search-box"></div>
        </div>
      </div>
    </div>

    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link last-link">About</a>

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="<%= current_user.photo_url ? cl_image_path(current_user.photo) : "http://www.unixstickers.com/image/data/stickers/guyfawkes/guyfawkes.sh.png" %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="fa fa-user"></i><span class="dropdown-link">Profile</span>
              <% end %>
            </li>
            <li>
              <%= link_to mygames_path do %>
                <i class="fa fa-gamepad"></i><span class="dropdown-link">My games</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i><span class="dropdown-link">Log out</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "main-btn" %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<script>

  const search = document.getElementById('search');
  const searchBox = document.getElementById('search-box');

  search.addEventListener("keyup", (event) => {
    if (event.target.value.length > 2) {
      fetch(`<%= search_path %>?query=${event.target.value}`)
      .then(response => response.json())
      .then((data) => {
        console.info(data);
        searchBox.style.display = "block";
        searchBox.innerHTML = "";
        let index;
        for (index = 0; index < 5; index++) {
          let img;
          let release_dates;
          if (data[index]["cover"]) {
            img = `<img src="https:${data[index]["cover"]["url"]}">`

          } else {
            img = `<img src="http://blackandwhitesalon.hu/wp-content/uploads/2018/03/1520528222130.png">`
          };
          if (data[index]["release_dates"]) {
            release_dates = data[index]["release_dates"][0]["human"]

          } else {
            release_dates = `unknown`
          };
          console.log(img)
          const item = `<a href="/games/${data[index]["id"]}" class="link-product">
                          <div class="game-search">
                            ${img}
                            <div class="game-search-text">
                              <p class="game-search-title">${data[index]["name"]}</p>
                              <p class="game-search-date">${release_dates}</p>
                            </div>
                          </div>
                        </a>`;

          searchBox.insertAdjacentHTML("beforeend", item);
        }
      })
    } else if (event.target.value.length < 3) {
      searchBox.style.display = "none"
    };
  });

</script>
