<div class="navbar-gamiflex">
  <!-- Left Logo -->
  <a href="/" class="navbar-gamiflex-brand">
    <img src="/assets/gamiflex.png" alt="">
    Gamiflex
  </a>

  <!-- Right Navigation -->
  <div class="navbar-gamiflex-right">

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <div class="navbar-gamiflex-item">
        <div class="btn-container">
          <a href="/" class="main-btn"><i class="fas fa-gamepad"></i>&nbsp;&nbsp;Next Game!</a>
        </div>
      </div>
      <div class="navbar-gamiflex-item">
        <%= link_to "My Games", mygames_path, class: "navbar-gamiflex-link" %>
      </div>
      <div class="navbar-gamiflex-item">
        <%= link_to "Edit Profile", profile_path, class: "navbar-gamiflex-link" %>
      </div>
      <div class="navbar-gamiflex-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-gamiflex-link" %>
      </div>
    <% else %>
      <!-- <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "main-btn" %>-->
      <%= link_to new_user_session_path, class: "main-btn" do %>
        <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login
      <% end %>
    <% end %>
  </div>
</div>
