<div class="profile-page">
  <div class="background-with-image" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('<%= image_path "photo5.jpeg"%>')">
    <img src="<%= current_user.photo_url ? cl_image_path(current_user.photo) : "http://www.unixstickers.com/image/data/stickers/guyfawkes/guyfawkes.sh.png" %>"   id="profile-image">
  </div>
  <div class="info-profile">
    <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <p><%=  current_user.email %></p>
  </div>
  <div class="info-games-profile">


      <p>I like <%= @nb_likes %>
        <%= @nb_likes == 1 ? "game!" : "games!" %>
      </p>

      <p>I don't like <%= @nb_dislikes %>
        <%= @nb_dislikes == 1 ? "game!" : "games!" %>
      </p>

      <p>The last game I played was <strong><%= @last_game.name %></strong> and I
        <% if @state_last_game.state == "like" %>
          liked it!
        <% else %>
          didn't like it!
        <% end %>
      </p>

      <div class="photo-game-profile" style="background-image: url('<%= cl_image_path @last_game.photo %>')">
        <%= link_to '', game_path(@last_game) %>
      </div>
      <%= link_to 'See All My Games', mygames_path, class: 'main-btn' %>

  </div>
</div>
