<div class="profile-page">
  <div class="background-with-image" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('<%= image_path "photo5.jpeg"%>')">
    <img src="<%= current_user.photo_url ? cl_image_path(current_user.photo) : "http://www.unixstickers.com/image/data/stickers/guyfawkes/guyfawkes.sh.png" %>"   id="profile-image">
    <%= link_to edit_user_registration_path, class: 'main-btn btn-edit-profile' do %>
     Edit Profile <i class="fas fa-pencil-alt"></i>
     <% end %>
  </div>
  <div class="info-profile">
    <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <p><%=  current_user.email %></p>
    <p>Proud to be a <strong style="color: #32B796;">Gamiflex</strong> member since <strong><%= @date_creation %></strong></p>
  </div>

  <div class="row profile-row row-with-likes-and-dislikes">
    <div class="col-xs-3 col-sm-2">
      <i class="fa fa-thumbs-up" style="color: #23BA69;"></i>
      <p>I liked</p>
      <p><p class="nb-likes-or-dislikes"><%= @nb_likes %></p></p>
      <p><%= @nb_likes == 1 ? "game!" : "games!" %></p>
    </div>
    <div class="col-xs-3 col-sm-2">
      <i class="fa fa-thumbs-down" style="color: #F24236;"></i>
      <p>I didn't like</p>
      <p><p class="nb-likes-or-dislikes"><%= @nb_dislikes %></p></p>
      <p><%= @nb_dislikes == 1 ? "game!" : "games!" %>
      </p>
    </div>
  </div>

  <div class="row profile-row last-games-played">
      <h2>The last 3 games I played</h2>
       <% @last_games.each do |last_game| %>
        <div class="col-xs-12 col-md-4">
          <%= link_to game_path(last_game) do %>
            <%= cl_image_tag(last_game.photo, height: 250, crop: 'scale', class: "photo-game-profile") %>
          <% end %>
        </div>
      <% end %>
      <%= link_to 'See All My Games', mygames_path, class: 'main-btn' %>
    </div>
  </div>
</div>
