<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="flex-center">
        <div class="left-col">
          <div class="game-image show" style="background-image: url('<%= cl_image_path @game.photo %>'); height: 400px; width: calc((400px * <%= @game.photo_width %>) / <%= @game.photo_height %>);">
          </div>
          <p>Developed by <%= @game.developers.gsub(/;/, ", ") %></p>
          <% if user_signed_in? %>
            <div class="flex-center">
              <div class="like-buttons">
                <div class="like">
                  <i class="fa fa-thumbs-up" style="color: #23BA69; font-size: 28px"></i>
                </div>
                <div class="dislike">
                  <i class="fa fa-thumbs-down" style="color: #F24236; font-size: 28px"></i>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="right-col">
        <h2 class="show-name"><%= @game.name %> (<%= @game.release_date[0..3] %>)</h2>
        <p class="show-published">Published by <%= @game.publishers.gsub(/;/, ", ") %>.</p>
        <p class="show-summary"><%= @game.summary %></p>
        <p class="show-genres"><span class="attribute-label">Genres:</span> <%= @game.genres.gsub(/;/, ", ") %>.</p>
        <p class="show-platforms"><span class="attribute-label">Platforms:</span> <%= @game.platforms.gsub(/;/, ", ") %>.</p>
      </div>
    </div>
  </div>
</div>
